<div id="footer" class="pt-4 pb-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="d-flex">
          <img class="rounded-circle" width="50px" height="50px" src="../../../assets/img/brand.png" alt="img">
          <h2 class="my-auto mx-auto">S&P IT-Service</h2>
        </div>
        <div class="text-white mt-4 text-left">
          <p>
            versteht es, sich auf alle Bedürfnisse der Kunden einzustellen, und das sogar in letzte Minute. 
            Ein Tadelloser Professioneller Service bis zur letzte Note.
          </p>
        </div>
        <div class="icons">
          <div class="item">
            <img src="../../../assets/img/facebook.png" width="32px"/>
          </div>
          <div class="item">
            <img src="../../../assets/img/twitter-bleu.png" width="32px"/>
          </div>
          <div class="item">
            <img src="../../../assets/img/instagram.png" width="32px"/>
          </div>
          <div class="item">
            <img src="../../../assets/img/linkedin.png" width="32px"/>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h2 class="my-2">Quick links</h2>
        <div class="links text-left mt-4">
          <ul class="pl-0 pt-2">
            <li><a href="/">Home</a></li>
            <li><a href="/services/software">Dienstleitungen</a></li>
            <li><a href="/projects">Projekte</a></li>
            <li><a href="/contacts">Kontakte</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h2 class="my-2">Gallery</h2>
        <div class="row mt-4 pt-2">
          <div class="col p-0">
            <div class="card m-2">
              <div class="card-body">
                <img class="col-md-12" src="../../../assets/img/computer.png" />
              </div>
            </div>
          </div>
          <div class="col p-0">
            <div class="card m-2">
              <div class="card-body">
                <img class="col-md-12" src="../../../assets/img/development.png" />
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col p-0">
            <div class="card m-2">
              <div class="card-body">
                <img class="col-md-12" src="../../../assets/img/web-design.png" />
              </div>
            </div>
          </div>
          <div class="col  p-0">
            <div class="card m-2">
              <div class="card-body">
                <img class="col-md-12" src="../../../assets/img/video-call.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 text-left mb-3">
        <h2 class="my-2">Kontakt</h2>
        <div class="mt-4 pt-2">
          <p>Straße 100, code Stadt</p>
          <p>info@sp-itservice</p>
        </div>
      </div>
    </div>
    <div class="border-top border-color-white-50 mt-2"></div>
    <div class="row mt-3">
      <p class="text-white-50 mr-auto ml-auto d-flex">
        2022 S&P IT-Service. All Rights Reserved.
      </p>
    </div>
  </div>
</div>
