nav {
    padding-left: 50px;
    padding-right: 50px;
}

ul li {
  background-color: #fff;
  margin-right: 20px;
  padding: 0 15px 0 15px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

ul li.active {
  background: #c01ff3 !important;
  color: #fff !important;
}

ul li.active a {
  color: #fff !important;
  font-weight: 600;
}

button {
  padding: 7px 15px 7px 15px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-transform: uppercase;
}
