<!--part of this code is from bootstrap navbar component-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <div class="d-flex">
      <img class="rounded-circle" width="50px" height="45px" src="../../../assets/img/logo-t.png" alt="img">
      <h2 class="my-auto ml-2">S&P IT-Service</h2>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav {{hide ? 'size-991' : ''}}">
      <li class="nav-item {{links[0] ? 'active' : ''}}">
        <a class="nav-link" [routerLink]="['/home']" (click)="setActiveClass(0)">Home</a>
      </li>
      <li class="nav-item dropdown text-black-50 {{links[1]  ? 'active' : ''}}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Dienstleitungen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-black-50" href="/services/software" (click)="setActiveClass(1)">Softwareentwicklung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-black-50" href="/services/website" (click)="setActiveClass(1)">Webseiteentwicklung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-black-50" href="/services/consulting" (click)="setActiveClass(1)">IT consulting</a>
        </div>
      </li>
      <li class="nav-item {{links[2] ? 'active' : ''}}">
        <a class="nav-link" [routerLink]="['/projects']" (click)="setActiveClass(2)">Projekte</a>
      </li>
      <li class="nav-item {{links[3] ? 'active' : ''}}">
        <a class="nav-link" [routerLink]="['/contacts']" (click)="setActiveClass(3)">Kontakte</a>
      </li>
      <li class="nav-item consulting bg-primary">
        <a class="nav-link text-white font-weight-800">GET CONSULTING</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0" *ngIf="!hide">
    <button class="btn btn-sm btn-primary my-2 my-sm-0 font-weight-800" type="submit">Get consulting</button>
  </form>
</nav>
