<!--part of this code is from bootstrap navbar component-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <div class="d-flex">
      <img class="rounded-circle" width="50px" height="45px" src="../../../assets/img/logo-t.png" alt="img">
      <h2 class="my-auto ml-2">S&P IT-Service</h2>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dienstleitungen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/services/software">Softwareentwicklung</a>
          <a class="dropdown-item" href="/services/website">Webseiteentwicklung</a>
          <a class="dropdown-item" href="/services/consulting">IT consulting</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projekte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakte</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-sm btn-primary my-2 my-sm-0" type="submit">Get consulting</button>
  </form>
</nav>
