<!--part of this code is from bootstrap navbar component-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">
    <div class="d-flex">
      <img class="rounded-circle" width="50px" height="45px" src="../../../assets/img/brand.png" alt="img">
      <h2 class="my-auto ml-2 brandname font-weight-800">S&P ITservice</h2>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav {{hide ? 'size-991' : ''}}">
      <li class="nav-item {{links[0] ? 'active' : ''}}">
        <a class="nav-link" href="/home" (click)="setActiveClass(0)">Home</a>
      </li>
      <li class="nav-item dropdown text-black-50 {{links[1]  ? 'active' : ''}}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Dienstleitungen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-black-50" href="/services/software"
            (click)="setActiveClass(1)">Softwareentwicklung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-black-50" href="/services/website"
            (click)="setActiveClass(1)">Webseiteentwicklung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-black-50" href="/services/consulting" (click)="setActiveClass(1)">IT
            consulting</a>
        </div>
      </li>
      <li class="nav-item {{links[2] ? 'active' : ''}}">
        <a class="nav-link" href="/projects" (click)="setActiveClass(2)">Projekte</a>
      </li>
      <li class="nav-item {{links[3] ? 'active' : ''}}">
        <a class="nav-link" href="/contacts" (click)="setActiveClass(3)">Kontakte</a>
      </li>
      <li class="nav-item consulting bg-primary" (click)="startVideoCall(videocall)">
        <a class="nav-link text-white font-weight-800">
          <fa-icon [icon]="['fas', 'video-camera']" class="mr-1 text-white"></fa-icon>
          GET CONSULTING
        </a>
      </li>
    </ul>
  </div>
  <div class="call my-2 my-lg-0" *ngIf="!hide">
    <button class="btn btn-sm btn-primary btn-animate my-2 my-sm-0 font-weight-800"
      (click)="startVideoCall(videocall)">
      <fa-icon [icon]="['fas', 'video-camera']" class="mr-1 text-white"></fa-icon>
      Get consulting
    </button>
  </div>
</nav>

<ng-template #videocall>
  <h1 mat-dialog-title>Sich beraten lassen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <strong>Wir bitten Sie um Geduld. Wir sind gleich für Sie da.</strong><br><br>
    Damit Sie nicht lange in der Warteschleife warten müssen, bis einer unserer Experten Ihres Anliegen bearbeiten kann,
    ist es ratsam, vorher einen Termin zu vereinbaren. Wenn Sie noch keinen Termin vereinbart haben,
    nutzen Sie bitte unser <a class="text-primary" [routerLink]="['contacts']"
      mat-dialog-close (click)="setActiveClass(3)"><strong>Kontaktformular</strong></a>.<br/>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="openJitsi()">Starten</button>
    <button mat-raised-button color="accent" mat-dialog-close>Abbrechen</button>
  </div>
</ng-template>
