<div id="footer" class="pt-4 pb-1">
  <div class="footer-top pt-4 pb-5 text-white">
    <div class="container pb-5 px-5">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <h2 class="my-2">Berlin</h2>
          <div class="text-white mt-4 text-left">
            <p>Straße 1</p>
            <p>13407 Berlin</p>
            <p>+030 451214 1511</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <h2 class="my-2">Brandenburg</h2>
          <div class="text-white mt-4 text-left">
            <p>Straße 1</p>
            <p>14770 Brandenburg</p>
            <p>+03381 451214 1511</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <h2 class="my-2">Dortmund</h2>
          <div class="text-white mt-4 text-left">
            <p>Straße 1</p>
            <p>44143 Dortnumd</p>
            <p>+0231 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="bg-white footer-bottom pt-3 pb-2">
        <div class="container px-5">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="d-flex">
                <img class="rounded-circle" width="50px" height="50px" src="../../../assets/img/logo-t.png" alt="img">
                <h2 class="my-auto ml-2 text-black-50">S&P IT-Service</h2>
              </div>
              <div class="text-black-50 mt-4 text-left">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                </p>
              </div>
              <div class="icons">
                <div class="item">
                  <img src="../../../assets/img/facebook.png" width="32px"/>
                </div>
                <div class="item">
                  <img src="../../../assets/img/twitter.png" width="32px"/>
                </div>
                <div class="item">
                  <img src="../../../assets/img/instagram.png" width="32px"/>
                </div>
                <div class="item">
                  <img src="../../../assets/img/linkedin.png" width="32px"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <h2 class="my-2 text-black-50">Unsere Leistungen</h2>
              <div class="text-black-50 mt-4 text-left">
                <ul class="pl-0">
                  <li>
                    <fa-icon [icon]="['fas', 'play']" class="mr-2 text-black-50"></fa-icon>
                    Softwareentwicklung
                  </li>
                  <li>
                    <fa-icon [icon]="['fas', 'play']" class="mr-2 text-black-50"></fa-icon>
                    Webseiteentwicklung
                  </li>
                  <li>
                    <fa-icon [icon]="['fas', 'play']" class="mr-2 text-black-50"></fa-icon>
                    IT-Sicherheit
                  </li>
                  <li>
                    <fa-icon [icon]="['fas', 'play']" class="mr-2 text-black-50"></fa-icon>
                    IT-Beratung
                  </li>
                  <li>
                    <fa-icon [icon]="['fas', 'play']" class="mr-2 text-black-50"></fa-icon>
                    IT-Support
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <h2 class="my-2 text-black-50">Newsletter</h2>
              <div class="text-black-50 mt-4 text-left">
                <p>
                  melden Sie sich für unser neueste Angebot an. Keine Span-Mail wird gesendet.
                </p>
                <div class="d-flex mt-5 newsletter">
                  <input type="email" placeholder="Email eingeben" class="col-sm-10">
                  <button class="btn btn-small">Senden</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
