<app-breadcumb></app-breadcumb>
<!--content-->
<div class="pt-5 pb-1">
  <div *ngIf="isSoftware" class="container">
    <h2>Entwicklung von Applikationen (Android, Desktop)</h2>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../../assets/img/software.jpg" class="col" alt="picture" />
      </div>
      <div class="col-md-6">
        <ul class="ml-0 pl-0">
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('website')">
              Webseitenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('consulting')">
              IT-Consulting
              <fa-icon [icon]="['fas', 'play']" class="ml-5 pl-4 text-white"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-4 mt-5">
          <h2 class="my-2 text-black-50 font-weight-800">Kontakt</h2>
          <div class="text-black-50 mt-4 text-left">
            <p class="font-weight-500">Straße 1</p>
            <p class="font-weight-500">13407 Berlin</p>
            <p class="font-weight-500">+030 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        Mit einer Website muss ein Unternehmen heutzutage nicht mehr so viel Aufwand betreiben, um seine Sichtbarkeit
        zu erhöhen. Das bedeutet, dass es eine große Anzahl von Interessenten zur gleichen Zeit erreicht. Es ist also ein 
        sicherer Weg für Unternehmen, die ihre Umsätze steigern wollen. Bevor Sie jedoch in den Genuss dieser zahlreichen 
        Vorteile kommen, müssen Sie eine qualitativ hochwertige Website erstellen. Vertrauen Sie einem professionellen 
        Webseitenbetreiber wie IT-service, um eine qualitativ hochwertige Webseite zu erstellen.
      </div>
    </div>
  </div>
  <div *ngIf="isWebsite" class="container">
    <h2>Entwicklung von Webseiten (Unternehmen, Startup, Vereine, Persönnliche Webseite)</h2>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../../assets/img/website.png" class="col" alt="picture"/>
      </div>
      <div class="col-md-6">
        <ul class="ml-0 pl-0">
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('software')">
              Softwareenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('consulting')">
              IT-Consulting
              <fa-icon [icon]="['fas', 'play']" class="ml-5 pl-4 text-white"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-4 mt-5">
          <h2 class="my-2 text-black-50 font-weight-800">Kontakt</h2>
          <div class="text-black-50 mt-4 text-left">
            <p class="font-weight-500">Straße 1</p>
            <p class="font-weight-500">13407 Berlin</p>
            <p class="font-weight-500">+030 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        Mit einer Website muss ein Unternehmen heutzutage nicht mehr so viel Aufwand betreiben, um seine Sichtbarkeit
        zu erhöhen. Das bedeutet, dass es eine große Anzahl von Interessenten zur gleichen Zeit erreicht. Es ist also ein 
        sicherer Weg für Unternehmen, die ihre Umsätze steigern wollen. Bevor Sie jedoch in den Genuss dieser zahlreichen 
        Vorteile kommen, müssen Sie eine qualitativ hochwertige Website erstellen. Vertrauen Sie einem professionellen 
        Webseitenbetreiber wie IT-service, um eine qualitativ hochwertige Webseite zu erstellen.
      </div>
    </div>
  </div>
  <div *ngIf="isConsulting" class="container">
    <h2>Wir consultieren und begleiten Sie gerne in der Realisierung ihres IT-Projekt</h2>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../../assets/img/consulting.jpg" class="col" alt="picture" />
      </div>
      <div class="col-md-6">
        <ul class="ml-0 pl-0">
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('software')">
              Softwareenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('website')">
              Webseitenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-4 mt-5">
          <h2 class="my-2 text-black-50 font-weight-800">Kontakt</h2>
          <div class="text-black-50 mt-4 text-left">
            <p class="font-weight-500">Straße 1</p>
            <p class="font-weight-500">13407 Berlin</p>
            <p class="font-weight-500">+030 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        Unternehmen für digitale Dienstleistungen bieten Beratungssitzungen an, um das Optimierungspotenzial
        des unternehmensinternen IT-Systems zu ermitteln. Dies ist die perfekte Lösung für Unternehmen, die keinen 
        Überblick über die Innovationen in der IT-Branche haben.
      </div>
    </div>
  </div>
</div>
