<app-breadcumb></app-breadcumb>
<!--content-->
<div class="pt-5 pb-1">
  <div *ngIf="isSoftware" class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../../assets/img/slide.jpg" class="col"/>
      </div>
      <div class="col-md-6">
        <ul class="ml-0 pl-0">
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('website')">
              Webseitenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('consulting')">
              IT-Consulting
              <fa-icon [icon]="['fas', 'play']" class="ml-5 pl-4 text-white"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-4 mt-5">
          <h2 class="my-2 text-black-50 font-weight-800">Kontakt</h2>
          <div class="text-black-50 mt-4 text-left">
            <p class="font-weight-500">Straße 1</p>
            <p class="font-weight-500">13407 Berlin</p>
            <p class="font-weight-500">+030 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        Software Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>
  <div *ngIf="isWebsite" class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../../assets/img/slide.jpg" class="col"/>
      </div>
      <div class="col-md-6">
        <ul class="ml-0 pl-0">
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('software')">
              Softwareenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('consulting')">
              IT-Consulting
              <fa-icon [icon]="['fas', 'play']" class="ml-5 pl-4 text-white"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-4 mt-5">
          <h2 class="my-2 text-black-50 font-weight-800">Kontakt</h2>
          <div class="text-black-50 mt-4 text-left">
            <p class="font-weight-500">Straße 1</p>
            <p class="font-weight-500">13407 Berlin</p>
            <p class="font-weight-500">+030 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        Webseite Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>
  <div *ngIf="isConsulting" class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../../assets/img/slide.jpg" class="col"/>
      </div>
      <div class="col-md-6">
        <ul class="ml-0 pl-0">
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('software')">
              Softwareenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
          <li>
            <button class="btn btn-small col-md-6" (click)="openService('website')">
              Webseitenentwicklung
              <fa-icon [icon]="['fas', 'play']" class="ml-2 text-white"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-4 mt-5">
          <h2 class="my-2 text-black-50 font-weight-800">Kontakt</h2>
          <div class="text-black-50 mt-4 text-left">
            <p class="font-weight-500">Straße 1</p>
            <p class="font-weight-500">13407 Berlin</p>
            <p class="font-weight-500">+030 451214 1511</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        IT Consulting Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>
</div>
