<section id="carousel" data-speed="0.8" class="col-md-12 p-0">
  <header>
    <div class="container">
      <div class="row content">
        <div class="col-xs-12">
          <h2 class="text-left font-weight-800">IHR ALL ROUND TALENT IN IT</h2>
          <h3 class="text-left">Apps / WEBSEITENENTWICKLUNG</h3>
          <h4 class="text-white text-left">Consulting - Help</h4>
          <button class="btn btn-white btn-radius font-weight-800">UNSERE DIENSTLEISTUNGEN</button>
        </div>
      </div>
    </div>
  </header>
</section>

<section id="about-us" class="bg-about">
  <div class="container-fluid py-0">
    <div class="container bg-white">
      <div class="row">
        <div class="col-lg-5">
          <img class="w-100 py-4 h-100" src="../../../assets/img/question.png" alt="poster">
        </div>
        <div class="col-lg-7 py-4">
          <h1 class="title-purple">Über uns</h1>
          <p class="mb-4">
            Wir helfen unseren Kunden mit unseren Dienstleitungen, ihre Ziele zu verfolgen
          </p>
          <div *ngFor="let user of profiles">
            <p>{{user.description}}</p>
            <div class="row py-4">
              <div class="col-md-6 mb-2 ml-0 mr-0">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <img src="{{user.picture}}" class="rounded-circle avatar" alt="avatar" />
                  </div>
                  <div class="col my-auto">
                    <div class="card-block py-auto px-2">
                      <h2 class="card-title mb-1 font-weight-900">{{user.name}}</h2>
                      <p class="card-text">{{user.job}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 border-left">
                <ul class="list-group p-1 border-0">
                  <li class="list-group-item p-1 border-0">
                    <a href="{{user.github.link}}">
                      <fa-icon [icon]="['fab', 'github']" class="mr-2 size-22"></fa-icon>
                      {{user.github.text}}
                    </a>
                  </li>
                  <li class="list-group-item p-1 border-0">
                    <a href="{{user.linkedIn.link}}">
                      <fa-icon [icon]="['fab', 'linkedin']" class="mr-2 text-primary size-22"></fa-icon>
                      {{user.linkedIn.text}}
                    </a>
                  </li>
                  <li class="list-group-item p-1 border-0">
                    <a routerLink="['/{{user.portfolio.link}}']">
                      <fa-icon [icon]="['fas', 'user-circle']" class="mr-2 text-sky-bleu size-22"></fa-icon>
                      {{user.portfolio.text}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-we-do" class="bg-primary">
  <div class="container-fluid py-4">
    <div class="container">
      <h1 class="title-white">What we do</h1>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3 class="mb-4 text-white font-weight-800">What Services we Provide for Our Customers Business
          </h3>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-sm-12 col-md-3 mb-4 we-do d-flex" *ngFor="let card of cards">
          <section class="card border-0 text-dark">
            <img class="card-img-top d-flex mr-auto ml-auto" src="{{card.img}}" alt="service"
              style="width: 128px; height: 128px !important;">
            <div class="card-body">
              <h4 class="title mt-0">{{card.title}}</h4>
              <p class="xs-font">{{card.text}}</p>
            </div>
          </section>
          <button routerLink="['{{card.link}}']" class="btn btn-sm mt-n3 position-absolute">Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="why-us" class="py-2">
  <div class="container-fluid">
    <div class="container bg-black-50">
      <div class="row">
        <div class="col-lg-5 d-flex">
          <video src="../../../assets/video/video.mp4" class="w-100 h-100 py-5" controls></video>
        </div>
        <div class="col-lg-7 py-5">
          <h1 class="title-purple bg-white">Warum wir</h1>
          <h1 class="mb-1 section-title text-white">Ihre Probleme sind unser Anliegen</h1>
          <p class="text-white">
            Wir begleiten ihnen von Anfang an bis zu Ende eure Projekte.
            Wir begleiten ihnen von Anfang an bis zu Ende eure Projekte.
            Wir begleiten ihnen von Anfang an bis zu Ende eure Projekte.
          </p>
          <div class="row py-0">
            <div class="col-md-6 mb-2">
              <ul class="list-group p-1">
                <li class="list-group-item p-1 border-0">
                  <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>
                  IT-Support und Unterstützung
                </li>
                <li class="list-group-item p-1 border-0">
                  <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>
                  IT-Sicherheit
                </li>
                <li class="list-group-item p-1 border-0">
                  <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>Morbi
                  leo risus
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group p-1">
                <li class="list-group-item p-1 border-0">
                  <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>Cras
                  justo odio
                </li>
                <li class="list-group-item p-1 border-0">
                  <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>
                  Dapibus ac facilisis in
                </li>
                <li class="list-group-item p-1 border-0">
                  <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>Morbi
                  IT-Beratung
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-5 d-flex bg-purple br-white py-2 mt-3">
            <img class="rounded-circle bg-white" width="40px" height="40px"
              src="./../../assets/img/customer-service.png" alt="img">
            <div class="ml-4 d-block">
              <span class="text-white size-14 font-weight-800">12/7 Support Team</span><br>
              <span class="text-white font-weight-500">Tel: +49 xxxx xxxxx</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-4" id="feedback">
  <div class="container">
    <div class="row">
      <h1 class="title-purple mr-auto ml-auto d-flex">Warum wir</h1>
    </div>
    <p class="text-center">Was Kunden sagen</p>
    <div class="row mt-4">
      <div *ngFor="let feedback of feedbacks" class="col-md-4 mt-2">
        <div class="card" style="border-radius: 15px 15px 15px 15px;">
          <div class="pt-3 d-flex">
            <img class="rounded-circle" width="40px" height="40px" src="../../../assets/img/user.png" alt="img">
            <div class="ml-4 d-block">
              <span class="text-black">{{feedback.name}}</span><br>
              <span class="text-black-50">S&P IT-Service</span>
            </div>
          </div>
          <div class="card-body p-2 pt-3">
            <p class="xs-font">{{feedback.text}}</p>
            <div class="d-flex">
              <div *ngFor="let i of [1,2,3,4,5]">
                <fa-icon [icon]="['fas', 'star']" class="mr-1 text-warning" *ngIf="i <= feedback.stern"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
