.card {
  border-radius: 15px;
  box-shadow: var(--card-box-shadow)
}

button {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: var(--btn-box-shadow);
  background-color: #fff;
  border: 2px solid var(--color-purple);
}
