:root {
  --color-purple: #B80DC4;
  --bg-purple: #B80Dc4;
  --color-purple-50: #C40D7B;
  --color-btn-blue: #0D44C4;
  --color-info: #0080FF;
  --btn-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --card-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
  rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, "Helvetica Neue", sans-serif; }

.color-purple {
  color:  #c01ff3;
}

.bg-purple {
  background: #c01ff3 !important;
}

.br-white {
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #fff;
}

.title-purple {
  color: #3e3e3e;
  border: 2px solid var(--color-purple) ;
  border-radius: 20px 20px 20px 20px;
  font-size: 16px;
  position: relative;
  padding: 0 20px;
  min-height: 33px;
  line-height: 32px;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.title-white {
  color: #3e3e3e;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  font-size: 16px;
  position: relative;
  padding: 0 20px;
  min-height: 33px;
  line-height: 32px;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 16px;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.text-sky-bleu {
  color: #B0E2FF;
}

.size-12 {
  font-size: 12px !important;
}

.size-14 {
  font-size: 14px !important;
}

.size-16 {
  font-size: 16px !important;
}

.size-18 {
  font-size: 18px !important;
}

.size-20 {
  font-size: 20px !important;
}

.size-22 {
  font-size: 22px !important;
}

.size-24 {
  font-size: 24px !important;
}

.border-width-1 {
  border-width: 1px !important;
}

.border-width-2 {
  border-width: 2px !important;
}

.border-width-3 {
  border-width: 3px !important;
}

.border-width-4 {
  border-width: 4px !important;
}

.border-width-5 {
  border-width: 5px !important;
}

/* Buttons */
.btn-radius {
  border-radius: 10px 10px 10px 10px;
}

.btn-purple {
  background-color: #c01ff3;
  color: #fff;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
}

footer .icons {
  position: absolute;
  display: flex;
  bottom: -2px;
}

footer .icons .item {
  margin: 0 8px 0 8px;
}

footer .icons .item:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  footer .icons {
    position: relative;
    margin-top: 20px;
  }
}


